
.overall{
    height: 100vh;
}

.flex-container{
    display: flex;
    flex-direction: row;
    height:100vh;
    align-items: stretch;
    background-color: #eee;
}

.member-container{
    flex:20%;
}

.chat-container{
    flex:80%;
    display: flex;
    flex-direction: column;
}

.formFlex{
    flex:5%;
    flex-grow: 1;
}

.messageFlex{
    flex: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#senderHeader{
    overflow: auto;
}

.otherSenderCard{
    width: 40%;
    align-self: flex-start;
}

.mySenderCard{
    width: 40%;
    align-self: flex-end;
}

#input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.membercard{
    height: 96%;
    max-width: 305px;
    width:100%;
    overflow-y: scroll;
}